
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');


@import "tailwindcss";


:root {
  font-family: "Quicksand", Comfortaa, Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;

}

@utility container{
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;

  @variant sm{
    max-width: 600px;
    padding-inline: 2.5rem;
  } 

  @variant md{
    max-width: 728px;
    padding-inline: 3rem;

  }
  @variant lg{
    max-width: 984px;
    padding-inline: 3rem;

  }
  @variant xl{
    max-width: 1240px;  
    padding-inline: 4rem;

}

  @variant 2xl{
    max-width: 1496px;  
    padding-inline: 5rem;

  }

}

/* @theme{
--container-xxsm: 300px;
  --container-xsm: 420px;
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;
  
} */

